<div class="priceList">
  <h1 class="w-100-p mt-24 mb-24 mainLabel">OFERTA/CENNIK</h1>

  <div class="mb-32">
    <div class="mx-10vw" fxLayout="row wrap" fxLayoutAlign="center center">
      <p class="priceOptionTitle">Makijaż Dzienny</p>
      <div class="ml-12 mr-12 dottedLine" fxFlex ></div>
      <p class="priceOptionTitle">100zł</p>
    </div>
    <p class="mx-10vw">To makijaż, który powinien współgrać z naszym charakterem, stylem pracy oraz atutami urody. Ponadto makijaż dzienny powinien wyglądać dobrze przede wszystkim w świetle dziennym (stąd też nazwa),
      ale i ładnie prezentować się w świetle sztucznym.
      Zobacz zdjęcie</p>
  </div>

  <div class="mb-32">
    <div class="mx-10vw" fxLayout="row wrap" fxLayoutAlign="center center">
      <p class="priceOptionTitle">Makijaż Wieczorowy</p>
      <div class="ml-12 mr-12 dottedLine" fxFlex></div>
      <p class="priceOptionTitle">150zł</p>
    </div>
    <p class="mx-10vw">Tutaj już można bardziej poszaleć, ponieważ w makijażu wieczorowym intensywność koloru czy blasku i tak zostanie stłumiona nocną porą. Zatem nie należy się obawiać, że mocne usta nie zagrają z
      mocnym okiem. Przesadzać nie należy aczkolwiek to właśnie tu możemy nacieszyć się sztuką makijażu. Jak sama nazwa wskazuje nosimy go wieczorową porą.</p>
  </div>

  <div class="mb-32">
    <div class="mx-10vw" fxLayout="row wrap" fxLayoutAlign="center center">
      <p class="priceOptionTitle">Makijaż Ślubny</p>
      <div class="ml-12 mr-12 dottedLine" fxFlex></div>
      <p class="priceOptionTitle">200zł</p>
    </div>
    <p class="mx-10vw">Połączenie technik makijażu fotograficznego, telewizyjnego oraz upiększającego. Wykorzystanie sypkich pigmentów, doklejanie sztucznych rzęs w kępkach, techniki modelowania twarzy tłustymi i suchymi
      teksturami kosmetyków.</p>
  </div>

  <div class="mb-32">
    <div class="mx-10vw" fxLayout="row wrap" fxLayoutAlign="center center">
      <p class="priceOptionTitle">Makijaż sceniczny</p>
      <div class="ml-12 mr-12 dottedLine" fxFlex></div>
      <p class="priceOptionTitle">300zł</p>
    </div>
    <p class="mx-10vw">To makijaż, którego podstawową cechą jest spektakularność. Musi być intensywny. Konturowanie odbywa się z reguły techniką "na tłusto", a oczy i usta są mocno podkreślone, by blask scenicznych
      świateł ich "nie zjadł".</p>
  </div>

  <div class="mb-32">
    <div class="mx-10vw" fxLayout="row wrap" fxLayoutAlign="center center">
      <p class="priceOptionTitle">Charakteryzacja teatralna</p>
      <div class="ml-12 mr-12 dottedLine" fxFlex></div>
      <p class="priceOptionTitle">150zł</p>
    </div>
    <p class="mx-10vw">Charakteryzacja teatralna jak sama nazwa wskazuję jest stosowana w teatrze. Makijaż jest mocno przerysowany i podkreśla charakter grany przez aktora.</p>
  </div>

  <div class="mb-32">
    <div class="mx-10vw" fxLayout="row wrap" fxLayoutAlign="center center">
      <p class="priceOptionTitle">Charakteryzacja filmowa</p>
      <div class="ml-12 mr-12 dottedLine" fxFlex></div>
      <p class="priceOptionTitle">200zł</p>
    </div>
    <p class="mx-10vw">Tego rodzaju charakteryzacja jest opracowywana na podstawie scenariusza filmu. Każda kreacja będzie inna i dostosowana do cech charakterystycznych postaci granej przez aktora.</p>
  </div>
</div>
