<div fxLayout="column" fxLayoutAlign="start center">
  <div style="text-align: center; width: 70%" [ngStyle.lt-md]="'margin: auto'" [ngStyle.lt-sm]="'font-size: 3vw; line-height: 18px'"
       class="aboutMeContainer">
    <h1 class="w-100-p mt-24 mb-24 mainLabel">Witam serdecznie!</h1>
    <p [ngClass.gt-xs]="'mb-16'">Nazywam się Magdalena Kozłowska, a makijaż jest moją największą pasją już ponad połowę mojego życia.</p>
    <p [ngClass.gt-xs]="'mb-16'">Jestem wizażystką z wieloletnim doświadczeniem z zakresu makijażu profesjonalnego.</p>
    <p [ngClass.gt-xs]="'mb-16'">Umiejętności zawodowe zdobywałam zarówno w Polsce jak i za granicą. Pracując w światowych stolicach mody, wśród wspaniałych artystów, pozyskiwałam wiedzę oraz inspiracje, z których
      wyewoluował mój własny styl pracy.</p>
    <p [ngClass.gt-xs]="'mb-16'">Przez wiele lat byłam związana ze znanymi na całym świecie markami kosmetycznymi.</p>
    <p [ngClass.gt-xs]="'mb-16'">Dzięki temu miałam nieograniczone możliwości by poznawać najnowsze trendy, specjalistyczne techniki oraz uczestniczyć w eventach makijażowych w całej Europie (szkoły makijażu, szkolenia,
      pokazy mody czy sesje zdjęciowe).</p>
  </div>

  <div fxLayout="column" class="my-list abilitiesListLabel" [ngStyle.lt-sm]="'font-size: 3vw; line-height: 18px'">
    <h1 class="w-100-p mt-24 mb-24 mainLabel">Zdobyłam swoje umiejętności poprzez: </h1>
    <div fxLayout="row wrap" fxLayoutAlign="start center"><img class="mr-8" style="height: 50px" src="assets/images/star-icon.png"><p>Ukończone studia w wyższej szkole Wizażu i charakterystyki </p></div>
    <div fxLayout="row wrap" fxLayoutAlign="start center"><img class="mr-8" style="height: 50px" src="assets/images/star-icon.png"><p>Ponad 6 letnie doświadczenie zawodowe</p></div>
    <div fxLayout="row wrap" fxLayoutAlign="start center"><img class="mr-8" style="height: 50px" src="assets/images/star-icon.png"><p>Współpraca z wieloma znanymi firmami</p></div>
  </div>

  <h1 class="w-100-p mt-24 mb-24 mainLabel companyLabel">Firmy z którymi miałam przyjemność współpracować</h1>

  <div class="company-list" style="padding: 0 100px 0 100px" fxLayout="row wrap" fxLayoutAlign="center center">
    <img class="mr-12 ml-12" style="height: 100px" src="assets/images/companies/company1.png"/>
    <img class="mr-12 ml-12" style="height: 100px" src="assets/images/companies/company2.png"/>
    <img class="mr-12 ml-12" style="height: 100px" src="assets/images/companies/company3.png"/>
    <img class="mr-12 ml-12"  style="height: 100px" src="assets/images/companies/company4.png"/>
    <img class="mr-12 ml-12" style="height: 100px" src="assets/images/companies/company5.png"/>
    <img class="mr-12 ml-12" style="height: 100px" src="assets/images/companies/company6.png"/>
    <img class="mr-12 ml-12" style="height: 100px" src="assets/images/companies/company8.png"/>
    <img class="mr-12 ml-12" style="height: 100px" src="assets/images/companies/company9.png"/>
    <img class="mr-12 ml-12" style="height: 100px" src="assets/images/companies/company10.jpeg"/>
    <img class="mr-12 ml-12" style="height: 100px" src="assets/images/companies/company11.png"/>
    <img class="mr-12 ml-12" style="height: 100px" src="assets/images/companies/company12.png"/>
    <img class="mr-12 ml-12" style="height: 100px" src="assets/images/companies/company13.jpg"/>
    <img class="mr-12 ml-12" style="height: 100px" src="assets/images/companies/company15.jpeg"/>
    <img class="mr-12 ml-12" style="height: 100px" src="assets/images/companies/company16.png"/>
    <img class="mr-12 ml-12" style="height: 100px" src="assets/images/companies/company17.png"/>

  </div>


</div>
