<owl-carousel-o [options]="customOptions" (changed)="changeActualSlide($event)">
  <ng-template class="owl-item" carouselSlide>

    <div class="h-32-vw">
      <img id="photoSlide1" [class.myZoomIn]="actualSlide === 'owl-slide-0'"class="slideImage" src="../../../../assets/images/slidePhoto1.jpg">

      <p  *ngIf="actualSlide === 'owl-slide-0'" [ngStyle.lt-sm]="{'bottom': '25%'}"        class="animate__animated animate__delay-1s animate__slower animate__fadeInUp slidePhotoLabel slidePhoto1Label"
          >
        Makijaż permamentny
      </p>
    </div>
  </ng-template>
  <ng-template class="owl-item" carouselSlide>

    <div class="h-32-vw">
      <img [class.myZoomIn]="actualSlide === 'owl-slide-1'" class="slideImage" src="../../../../assets/images/slidePhoto3.png">
      <p  *ngIf="actualSlide === 'owl-slide-1'" [ngStyle.lt-sm]="{'bottom': '25%'}" class="animate__animated animate__delay-1s animate__slower animate__fadeInDown slidePhotoLabel slidePhoto2Label"
         >
        Makijaż ślubny
      </p>
    </div>
  </ng-template>

  <ng-template class="owl-item" carouselSlide>
    <div class="h-32-vw">
      <img [class.myZoomIn]="actualSlide === 'owl-slide-2'" class="slideImage" src="../../../../assets/images/slidePhoto2.jpg">
      <p  *ngIf="actualSlide === 'owl-slide-2'" [ngStyle.lt-sm]="{'bottom': '25%'}" class="animate__animated animate__delay-1s animate__slower animate__fadeInDown slidePhotoLabel slidePhoto3Label">
        Szkolenia z makijażu
      </p>

    </div>
  </ng-template>
</owl-carousel-o>
